<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org"
            th:replace = "user/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Add Contact | Contact Hub</title>
</head>
<body>
   <section>
      
      <div class = "card m-3">
      	<div class = "card-header">
          	<h1 class = "text-center">Update Your Contact</h1>  
          	  <div th:if = "${session.message}" class = "container">
	          	<div th:classappend = "${session.message.type}" class="alert " role="alert">
	  				<span th:text = "${session.message.content}"></span>
				</div>  
			  </div>	
      	</div>
      	<div>
      	    <div class = "container-fluid mt-1">
      	         <div class = "row">
      	             <div class = "col-md-10 offset-md-1">
      	                 <form th:action = "@{/user/process-update}" th:object = "${contact}" 
      	                       enctype = "multipart/form-data" method = "post" class = "mt-2" >
      	                       <label for="validationCustom01">Set new First name</label>
      	                       <input type = "hidden" name = "contactid" th:value = "${contact.contactid}">
      	                       
						       <input name = "contactname" th:value = "${contact.contactname}" type="text" class="form-control mb-2" id="validationCustom01" placeholder="First name"  required>
						       
						       <label for="validationCustom02">Set new second Name</label>
						       <input name = "secondname" th:value = "${contact.secondname}" type="text" class="form-control mb-2" id="validationCustom02" placeholder="Second name" >
						       
						       <label for="validationCustom03">Set new Work </label>
						       <input name = "work" type="text" th:value = "${contact.email}" class="form-control mb-2" id="validationCustom03" placeholder="Works at" >
						       
						       <label for="validationCustom04">Set new Email</label>
						       <input name = "email" type="email" th:value = "${contact.work}" class="form-control mb-2" id="validationCustom04" placeholder="email" >
                               
                               <label for="validationCustom05">Set new Mobile no</label>
						       <input name = "phone" type="text" th:value = "${contact.phone}" class="form-control mb-2" id="validationCustom05" placeholder="phone" >
						       
						       <label for="validationCustom06">Set new Address</label>
						       <input name = "address" type="text" th:value = "${contact.address}" class="form-control mb-2" id="validationCustom06" placeholder="adddress" >						       
      	                 
      	                       <div class = "custom-file">
      	                          <label for = "profilephoto">Set new Profile Picture</label>
      	                          <input type = "file" class="form-control mb-2" name = "profilephoto" id = "profilephoto">
      	                       </div>
      	                       
      	                       <div class = "container text-center mt-3 mb-3">
      	                          <button class = "btn btn-primary">Update Contact</button>
      	                       </div>
      	                 </form>
      	             </div>
      	         </div>
      	    </div>
      	</div>
      </div>
   </section>

</body>
</html>