<!DOCTYPE html>
<html xmlns:th= "www.thymeleaf.org"
      th:replace = "base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title th:text = "${abouttitle}"></title>
</head>
<body>
   <section>
      <div class = "banner text-white d-flex justify-content-center align-items-center" >
        <div class = "text-ccenter">
      		<h3>Contact Hub is an application that is used to save the Contact on the Internet safely </h3>
      		<br>
      		<h3>Designed and Developed By Sanket Shimpi</h3>
      	</div>
      </div>
   </section>
</body>
</html>